/* RESETTING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UNIVERSAL */

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background: black;
    opacity: 0.9;
}

/*HEADER */
header {
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
}

header img {
    margin-left: 10px;
    height: 50px;
    width: auto;
}

header li {
    display: inline-block;
    text-decoration: underline;
    padding: 0 10px;
}


/* MAIN */



main {
    margin-top: 70px;
    width: 100%;
}


/* MISSION */

#mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}

#mission-text {
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 10px 0;
    
}

#mission h2 {
    margin-bottom: 20px;
}


/* FEATURED */

#featured {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#featured-title {
    margin: 70px 0 10px;
}

#featured-title h2 {
    margin-bottom: 20px;
}

#featured-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#featured img {
    width: 300px;
    height: 200px;
    margin: 30px 10px 0px;
}

#featured figcaption {
    margin-top: 10px;
}